soap/service.wsdl

<?xml version="1.0"?>
<definitions name="SpotifyService"
  targetNamespace="http://example.com/soap"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://example.com/soap"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <message name="Listar_UsuariosRequest" />
  <message name="Listar_UsuariosResponse">
    <part name="result" type="xsd:string" />
  </message>

  <message name="Listar_MusicasRequest" />
  <message name="Listar_MusicasResponse">
    <part name="result" type="xsd:string" />
  </message>

  <message name="Listar_Playlist_UsuarioRequest">
    <part name="id_usuario" type="xsd:int" />
  </message>
  <message name="Listar_Playlist_UsuarioResponse">
    <part name="result" type="xsd:string" />
  </message>

  <message name="Listar_Musicas_PlaylistRequest">
    <part name="id_playlist" type="xsd:int" />
  </message>
  <message name="Listar_Musicas_PlaylistResponse">
    <part name="result" type="xsd:string" />
  </message>

  <message name="Listar_Playlist_MusicaRequest">
    <part name="id_musica" type="xsd:int" />
  </message>
  <message name="Listar_Playlist_MusicaResponse">
    <part name="result" type="xsd:string" />
  </message>


  <portType name="SpotifyPortType">
    <operation name="Listar_Usuarios">
      <input message="tns:Listar_UsuariosRequest" />
      <output message="tns:Listar_UsuariosResponse" />
    </operation>
    <operation name="Listar_Musicas">
      <input message="tns:Listar_MusicasRequest" />
      <output message="tns:Listar_MusicasResponse" />
    </operation>
    <operation name="Listar_Playlist_Usuario">
      <input message="tns:Listar_Playlist_UsuarioRequest" />
      <output message="tns:Listar_Playlist_UsuarioResponse" />
    </operation>
    <operation name="Listar_Musicas_Playlist">
      <input message="tns:Listar_Musicas_PlaylistRequest" />
      <output message="tns:Listar_Musicas_PlaylistResponse" />
    </operation>
    <operation name="Listar_Playlist_Musica">
      <input message="tns:Listar_Playlist_MusicaRequest" />
      <output message="tns:Listar_Playlist_MusicaResponse" />
    </operation>
  </portType>


  <binding name="SpotifyBinding" type="tns:SpotifyPortType">
    <soap:binding style="rpc"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Listar_Usuarios">
      <soap:operation soapAction="listar_usuarios" />
      <input>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>

    </operation>
    <operation name="Listar_Musicas">
      <soap:operation soapAction="listar_musicas" />
      <input>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Listar_Playlist_Usuario">
      <soap:operation soapAction="listar_playlist_usuario" />
      <input>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Listar_Musicas_Playlist">
      <soap:operation soapAction="listar_musicas_playlist" />
      <input>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Listar_Playlist_Musica">
      <soap:operation soapAction="listar_playlist_musica" />
      <input>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body
          use="encoded" namespace="http://example.com/soap"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>


  <service name="SpotifyService">
    <documentation>Simple Spotify SOAP Service</documentation>
    <port name="SpotifyPort" binding="tns:SpotifyBinding">
      <soap:address location="http://localhost:8000/soap" />
    </port>
  </service>
</definitions>